# Xcode
DerivedData/
.build/

# User settings
*.xcuserstate
xcuserdata/

# Swift Package Manager
Packages/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# macOS
.DS_Store

# Archives
*.xcarchive

# Build folders
build/

# App storage / temp
*.swp
*.tmp